let mapleader = " "

set relativenumber
set number
set smartcase

Plug 'terryma/vim-multiple-cursors'
set ideajoin
set keep-english-in-normal-and-restore-in-insert
set sneak

nmap <leader>rr :action RenameElement<CR>
nmap <leader>fm  :action ReformatCode<CR>
nnoremap <C-j> :m +1<CR>
nnoremap <C-k> :m -2<CR>


unmap s
nmap f <Plug>(sneak-s)
unmap S
nmap F <Plug>(sneak-S)

" actions
nmap <S-Tab> <action>(PreviousTab)
nmap <Tab> <action>(NextTab)
nmap <leader>fm <action>(ReformatCode)
nmap <leader>ff <action>(GotoFile)